app = "check-pal-wbc"
primary_region = "gru"

[build]
builder = "paketobuildpacks/builder:base"

[env]
PORT = "3000"

[[services]]
internal_port = 3_000
protocol = "tcp"

  [[services.ports]]
  handlers = [ "http" ]
  port = 80

  [[services.ports]]
  handlers = [ "tls", "http" ]
  port = 443

  [[services.tcp_checks]]
  grace_period = "10s"
  interval = "15s"
  timeout = "2s"
